<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label>用户名/邮箱：</label>
    <input formControlName="username" type="text" />
    <div *ngIf="submitted && loginForm.get('username')?.invalid" class="error">请输入用户名或邮箱</div>
  </div>
  <div>
    <label>密码：</label>
    <input formControlName="password" type="password" />
    <div *ngIf="submitted && loginForm.get('password')?.invalid" class="error">请输入密码</div>
  </div>
  <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
  <button type="submit">登录</button>
  <button (click)="router.navigate(['/register'])" type="button">没有账号？去注册一个吧</button>
</form>